@font-face {
  font-family: "iconfont"; /* Project id 4447512 */
  src: url('iconfont.woff2?t=1718588138309') format('woff2'),
       url('iconfont.woff?t=1718588138309') format('woff'),
       url('iconfont.ttf?t=1718588138309') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning1:before {
  content: "\e6f8";
}

.icon-more1:before {
  content: "\e6f7";
}

.icon-Download:before {
  content: "\e6f6";
}

.icon-zhandian:before {
  content: "\e6f5";
}

.icon-tishi:before {
  content: "\e6f4";
}

.icon-lock_filled:before {
  content: "\e697";
}

.icon-lock:before {
  content: "\e698";
}

.icon-id:before {
  content: "\e699";
}

.icon-login:before {
  content: "\e69a";
}

.icon-loop:before {
  content: "\e69b";
}

.icon-menu_back:before {
  content: "\e69c";
}

.icon-magic_sparkels:before {
  content: "\e69d";
}

.icon-minus:before {
  content: "\e69e";
}

.icon-layers:before {
  content: "\e69f";
}

.icon-minus_sq:before {
  content: "\e6a0";
}

.icon-magic_stick:before {
  content: "\e6a1";
}

.icon-mobile:before {
  content: "\e6a2";
}

.icon-moon:before {
  content: "\e6a3";
}

.icon-more_circular:before {
  content: "\e6a4";
}

.icon-more_horizontal:before {
  content: "\e6a5";
}

.icon-more_vertical:before {
  content: "\e6a6";
}

.icon-more_sq:before {
  content: "\e6a7";
}

.icon-developers-copy:before {
  content: "\ef54";
}

.icon-multi_cards:before {
  content: "\e6a8";
}

.icon-nest:before {
  content: "\e6a9";
}

.icon-notification_1:before {
  content: "\e6aa";
}

.icon-open_link:before {
  content: "\e6ab";
}

.icon-not_equal:before {
  content: "\e6ac";
}

.icon-package:before {
  content: "\e6ad";
}

.icon-merchant:before {
  content: "\e6ae";
}

.icon-options:before {
  content: "\e6af";
}

.icon-paypal:before {
  content: "\e6b0";
}

.icon-pen:before {
  content: "\e6b1";
}

.icon-phone:before {
  content: "\e6b2";
}

.icon-pin:before {
  content: "\e6b3";
}

.icon-plugin:before {
  content: "\e6b4";
}

.icon-pending_balance:before {
  content: "\e6b5";
}

.icon-polygon:before {
  content: "\e6b6";
}

.icon-pound:before {
  content: "\e6b7";
}

.icon-plus_2:before {
  content: "\e6b8";
}

.icon-precentage:before {
  content: "\e6b9";
}

.icon-pocket:before {
  content: "\e6ba";
}

.icon-plus1:before {
  content: "\e6bb";
}

.icon-print:before {
  content: "\e6bc";
}

.icon-privacy:before {
  content: "\e6bd";
}

.icon-refresh:before {
  content: "\e6be";
}

.icon-refund:before {
  content: "\e6bf";
}

.icon-question_mark:before {
  content: "\e6c0";
}

.icon-resend:before {
  content: "\e6c1";
}

.icon-resize:before {
  content: "\e6c2";
}

.icon-reserved_balance:before {
  content: "\e6c3";
}

.icon-sales:before {
  content: "\e6c4";
}

.icon-sandbox:before {
  content: "\e6c5";
}

.icon-reconciliation:before {
  content: "\e6c6";
}

.icon-save:before {
  content: "\e6c7";
}

.icon-reload_balance:before {
  content: "\e6c8";
}

.icon-search1:before {
  content: "\e6c9";
}

.icon-server_1:before {
  content: "\e6ca";
}

.icon-server:before {
  content: "\e6cb";
}

.icon-share_2:before {
  content: "\e6cc";
}

.icon-settings1:before {
  content: "\e6cd";
}

.icon-selfie:before {
  content: "\e6ce";
}

.icon-shield:before {
  content: "\e6cf";
}

.icon-shield_off:before {
  content: "\e6d0";
}

.icon-shopping:before {
  content: "\e6d1";
}

.icon-shop:before {
  content: "\e6d2";
}

.icon-sms:before {
  content: "\e6d3";
}

.icon-show:before {
  content: "\e6d4";
}

.icon-sort_2:before {
  content: "\e6d5";
}

.icon-simulate:before {
  content: "\e6d6";
}

.icon-sparkels:before {
  content: "\e6d7";
}

.icon-sort:before {
  content: "\e6d8";
}

.icon-status:before {
  content: "\e6d9";
}

.icon-speed:before {
  content: "\e6da";
}

.icon-stepper:before {
  content: "\e6db";
}

.icon-sun:before {
  content: "\e6dc";
}

.icon-support-1:before {
  content: "\e6dd";
}

.icon-table:before {
  content: "\e6de";
}

.icon-support_bubble:before {
  content: "\e6df";
}

.icon-support:before {
  content: "\e6e0";
}

.icon-tasks:before {
  content: "\e6e1";
}

.icon-text:before {
  content: "\e6e2";
}

.icon-timer:before {
  content: "\e6e3";
}

.icon-transactions:before {
  content: "\e6e4";
}

.icon-tool:before {
  content: "\e6e5";
}

.icon-trash:before {
  content: "\e6e6";
}

.icon-unlock:before {
  content: "\e6e7";
}

.icon-user-minus:before {
  content: "\e6e8";
}

.icon-user:before {
  content: "\e6e9";
}

.icon-upload:before {
  content: "\e6ea";
}

.icon-verify_identity:before {
  content: "\e6eb";
}

.icon-users:before {
  content: "\e6ec";
}

.icon-wallet:before {
  content: "\e6ed";
}

.icon-wallets_added:before {
  content: "\e6ee";
}

.icon-warning:before {
  content: "\e6ef";
}

.icon-wifi_on:before {
  content: "\e6f0";
}

.icon-warning_2:before {
  content: "\e6f1";
}

.icon-wifi_off:before {
  content: "\e6f2";
}

.icon-world:before {
  content: "\e6f3";
}

.icon-accept:before {
  content: "\e600";
}

.icon-a-360:before {
  content: "\e601";
}

.icon-add_iban:before {
  content: "\e602";
}

.icon-activate:before {
  content: "\e603";
}

.icon-add_sq:before {
  content: "\e604";
}

.icon-archive:before {
  content: "\e605";
}

.icon-add_payout:before {
  content: "\e606";
}

.icon-app:before {
  content: "\e607";
}

.icon-adjusments:before {
  content: "\e608";
}

.icon-add_user:before {
  content: "\e609";
}

.icon-add_notification:before {
  content: "\e60a";
}

.icon-activate_card:before {
  content: "\e60b";
}

.icon-arrow_left:before {
  content: "\e60c";
}

.icon-approve_balance:before {
  content: "\e60d";
}

.icon-arrow_right:before {
  content: "\e60e";
}

.icon-add_credit_card:before {
  content: "\e60f";
}

.icon-arrow_s_right:before {
  content: "\e610";
}

.icon-arrow_s_up:before {
  content: "\e611";
}

.icon-bag:before {
  content: "\e614";
}

.icon-arrow_down:before {
  content: "\e615";
}

.icon-available_balance:before {
  content: "\e616";
}

.icon-arrow_up:before {
  content: "\e617";
}

.icon-audit:before {
  content: "\e618";
}

.icon-bank:before {
  content: "\e619";
}

.icon-bold:before {
  content: "\e61a";
}

.icon-arrow_s_left:before {
  content: "\e61c";
}

.icon-block-1:before {
  content: "\e61d";
}

.icon-board:before {
  content: "\e61e";
}

.icon-bars:before {
  content: "\e61f";
}

.icon-brush:before {
  content: "\e620";
}

.icon-bank_redirect:before {
  content: "\e621";
}

.icon-bookmark:before {
  content: "\e622";
}

.icon-arrow_s_down:before {
  content: "\e623";
}

.icon-bitcoin:before {
  content: "\e624";
}

.icon-business:before {
  content: "\e625";
}

.icon-attach:before {
  content: "\e626";
}

.icon-burger:before {
  content: "\e627";
}

.icon-building:before {
  content: "\e628";
}

.icon-bulk:before {
  content: "\e629";
}

.icon-calendar:before {
  content: "\e62a";
}

.icon-calnedar_notification:before {
  content: "\e62b";
}

.icon-block:before {
  content: "\e62c";
}

.icon-calculator_2:before {
  content: "\e62d";
}

.icon-calculator:before {
  content: "\e62e";
}

.icon-bulb:before {
  content: "\e62f";
}

.icon-camera:before {
  content: "\e630";
}

.icon-cards:before {
  content: "\e631";
}

.icon-book:before {
  content: "\e632";
}

.icon-case:before {
  content: "\e633";
}

.icon-cart:before {
  content: "\e634";
}

.icon-cash:before {
  content: "\e636";
}

.icon-certification:before {
  content: "\e637";
}

.icon-cash_out:before {
  content: "\e638";
}

.icon-chart:before {
  content: "\e639";
}

.icon-check:before {
  content: "\e63a";
}

.icon-check_sq:before {
  content: "\e63b";
}

.icon-chevron_c_right:before {
  content: "\e63c";
}

.icon-chevron_c_down:before {
  content: "\e63d";
}

.icon-chevron_c_left:before {
  content: "\e63e";
}

.icon-chevron_right:before {
  content: "\e63f";
}

.icon-chevron_down:before {
  content: "\e640";
}

.icon-change_direction:before {
  content: "\e641";
}

.icon-chevron_up:before {
  content: "\e642";
}

.icon-cash_in:before {
  content: "\e643";
}

.icon-chevron_left:before {
  content: "\e644";
}

.icon-chevron_s_up:before {
  content: "\e645";
}

.icon-chevron_s_left:before {
  content: "\e646";
}

.icon-chevron_s_down:before {
  content: "\e647";
}

.icon-close_2:before {
  content: "\e648";
}

.icon-clock_sq:before {
  content: "\e649";
}

.icon-coffee:before {
  content: "\e64a";
}

.icon-chevron_c_up:before {
  content: "\e64b";
}

.icon-collect:before {
  content: "\e64c";
}

.icon-clock:before {
  content: "\e64d";
}

.icon-color_picker:before {
  content: "\e64e";
}

.icon-copy:before {
  content: "\e64f";
}

.icon-complete_refund:before {
  content: "\e650";
}

.icon-compliance:before {
  content: "\e651";
}

.icon-cpu:before {
  content: "\e652";
}

.icon-compass:before {
  content: "\e653";
}

.icon-command:before {
  content: "\e654";
}

.icon-credit_card:before {
  content: "\e655";
}

.icon-coin:before {
  content: "\e656";
}

.icon-credit_error:before {
  content: "\e657";
}

.icon-delete_sq:before {
  content: "\e658";
}

.icon-delete:before {
  content: "\e659";
}

.icon-deploma:before {
  content: "\e65a";
}

.icon-deactivate:before {
  content: "\e65b";
}

.icon-comment:before {
  content: "\e65c";
}

.icon-developers:before {
  content: "\e65d";
}

.icon-desktop:before {
  content: "\e65e";
}

.icon-crop:before {
  content: "\e65f";
}

.icon-dispute:before {
  content: "\e660";
}

.icon-doc:before {
  content: "\e661";
}

.icon-disburse:before {
  content: "\e662";
}

.icon-doc_main:before {
  content: "\e663";
}

.icon-doc_delete:before {
  content: "\e665";
}

.icon-doc_minus:before {
  content: "\e666";
}

.icon-doc_download:before {
  content: "\e667";
}

.icon-dislike:before {
  content: "\e668";
}

.icon-doc_upload:before {
  content: "\e669";
}

.icon-dollar_transfer:before {
  content: "\e66a";
}

.icon-double_chevron_left:before {
  content: "\e66b";
}

.icon-doc_plus:before {
  content: "\e66c";
}

.icon-download1:before {
  content: "\e66e";
}

.icon-double_chevron_right:before {
  content: "\e670";
}

.icon-download_transactions:before {
  content: "\e671";
}

.icon-edit:before {
  content: "\e672";
}

.icon-drag1:before {
  content: "\e673";
}

.icon-dollar:before {
  content: "\e674";
}

.icon-duplicate:before {
  content: "\e675";
}

.icon-equal:before {
  content: "\e676";
}

.icon-filled_down_arrow:before {
  content: "\e677";
}

.icon-filled_up_arrow:before {
  content: "\e678";
}

.icon-chat:before {
  content: "\e679";
}

.icon-focuse:before {
  content: "\e67a";
}

.icon-euro:before {
  content: "\e67b";
}

.icon-envelop:before {
  content: "\e67c";
}

.icon-filter:before {
  content: "\e67d";
}

.icon-folder_1:before {
  content: "\e67e";
}

.icon-favorite:before {
  content: "\e67f";
}

.icon-chevron_s_right:before {
  content: "\e680";
}

.icon-fingerprint:before {
  content: "\e681";
}

.icon-gender:before {
  content: "\e682";
}

.icon-folder:before {
  content: "\e683";
}

.icon-graph:before {
  content: "\e685";
}

.icon-hardrive:before {
  content: "\e686";
}

.icon-heart:before {
  content: "\e687";
}

.icon-gateway:before {
  content: "\e688";
}

.icon-hashtag:before {
  content: "\e689";
}

.icon-hide:before {
  content: "\e68a";
}

.icon-image:before {
  content: "\e68b";
}

.icon-home1:before {
  content: "\e68c";
}

.icon-info_2:before {
  content: "\e68d";
}

.icon-inbox:before {
  content: "\e68e";
}

.icon-Info_sq:before {
  content: "\e68f";
}

.icon-info_2-1:before {
  content: "\e690";
}

.icon-keyboard:before {
  content: "\e691";
}

.icon-label:before {
  content: "\e692";
}

.icon-like:before {
  content: "\e693";
}

.icon-link_2:before {
  content: "\e694";
}

.icon-link:before {
  content: "\e695";
}

.icon-location:before {
  content: "\e696";
}

.icon-setting:before {
  content: "\e61b";
}

.icon-order1:before {
  content: "\e613";
}

.icon-email1:before {
  content: "\e664";
}

.icon-message_light:before {
  content: "\e7db";
}

.icon-fujian:before {
  content: "\e88a";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-reload:before {
  content: "\e788";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-right:before {
  content: "\e7ed";
}

.icon-left:before {
  content: "\e7ee";
}

.icon-up:before {
  content: "\e7ec";
}

.icon-down:before {
  content: "\e7eb";
}

.icon-download:before {
  content: "\e7ef";
}

.icon-indent:before {
  content: "\e7f3";
}

.icon-outdent:before {
  content: "\e7f4";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-swap-left:before {
  content: "\e8f1";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-eye-close:before {
  content: "\e8ff";
}

.icon-delete1:before {
  content: "\e684";
}

.icon-list-settings-line:before {
  content: "\ef53";
}

.icon-drag:before {
  content: "\e66d";
}

.icon-email:before {
  content: "\e66f";
}

.icon-ArrowReply:before {
  content: "\e612";
}

.icon-customer_line:before {
  content: "\e635";
}

.icon-customer-bussinessman:before {
  content: "\e828";
}

.icon-message-comments:before {
  content: "\e82e";
}

.icon-info-fill:before {
  content: "\e83d";
}

.icon-info:before {
  content: "\e83f";
}

.icon-more:before {
  content: "\e840";
}

.icon-remind:before {
  content: "\e842";
}

.icon-settings:before {
  content: "\e844";
}

.icon-all:before {
  content: "\e84b";
}

.icon-home:before {
  content: "\e858";
}

